/em1_pset_v2.aux
/em1_pset_v2.idx
/em1_pset_v2.log
/em1_pset_v2.out
/em1_pset_v2.pyg
/em1_pset_v2.synctex.gz
/em1_pset_v2.tdo
/em1_pset_v2.tex
/em1_pset_v2.toc
/cache/
/figure/

solutions_only/solutions.log

solutions_only/solutions.idx

solutions_only/solutions.out

solutions_only/solutions.aux

solutions_only/solutions.synctex.gz

solutions_only/solutions.tex

solutions_only/solutions.toc

problems_only/em1_pset_solo.synctex.gz

problems_only/em1_pset_solo.out

problems_only/em1_pset_solo.log

problems_only/em1_pset_solo.idx

problems_only/em1_pset_solo.aux

errata/metrics_errata.aux

errata/metrics_errata.blg

errata/metrics_errata.log

errata/metrics_errata.synctex.gz

em1_pset_v2-concordance.tex

chapters/020_ols_2_no_matr.log

chapters/020_ols_2_no_matr.tex

chapters/120_series.log

chapters/120_series.tex

chapters/solutions.tex

problems_only/em1_pset_solo.tex
solutions_only/figure/

chapters/em1_pset_v2.tex

problems_only/em1_pset_solo.pdf

em1_pset_v2.pdf

em1_pset_v2-tikzDictionary

em1_pset_v2.ilg

em1_pset_v2.ind
