*.aux
*.blg
*.idx
*.log
*.out
*.ilg
*.ind
*-tikzDictionary
*-cache.yaml
*.pyg
*.synctex.gz
*.tdo
*.fdb_latexmk
*.fls
*.xdv
*.pygtex
*.pygstyle
*.run.xml
*.bbl
*.toc
*-concordance.tex

_minted-em1_pset_v2/
experiments/
solutions/

em1_pset_v2.pdf

.Rhistory
.Rproj.user
.Rapp.history
.DS_Store
